{% extends "index.html" %}
{% load static %}
{% block content %}
<div id="about" class="about-box">
    <div class="about-a1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h2>Sobre nosotros</h2>
                        <p>Portal informativo del centro médico Galenos. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row align-items-center about-main-info">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h2> Bienvenido a Centro medico Galenos </h2>
                            <p>En el centro médico Galenos nos preocupamos de la experiencia del paciente y del cuidado de nuestros empleados ademas de la correcta mantencion del equipo usado</p>
                            <p>Nosotros proveemos un servicio de asistencia de 24 horas los 7 días a la semana y un servicio médico de un equipo profesional capaz</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="about-m">
                                <ul id="banner">
                                    <li>
                                        <img src="{% static 'images/about-img-01.jpg' %}" alt="">
                                    </li>
                                    <li>
                                        <img src="{% static 'images/about-img-02.jpg' %}" alt="">
                                    </li>
                                    <li>
                                        <img src="{% static 'images/about-img-03.jpg' %}" alt="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}