{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div id="appointment" class="appointment-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <h2>Citas</h2>
                    <p>Progreme una cita medica con nuestro equipo </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="well-block">
                    <div class="well-title">
                        <h2>Solicita una Cita</h2>
                    </div>
                    <form method="post">
                        <!-- Form start -->
                        <div class="row">
                            {% csrf_token %} 
                            {{ citas|crispy }}
                            <!-- Button -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" id="singlebutton" name="singlebutton" class="new-btn-d br-2">Anotar cita</button>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                    <!-- form end -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="well-block">
                    <div class="well-title">
                        <h2>¿Porque solicitarnos?</h2>
                    </div>
                    <div class="feature-block">
                        <div class="feature feature-blurb-text">
                            <h4 class="feature-title">Disponibilidad 24/7</h4>
                            <div class="feature-content">
                                <p>En el centro médico Galenos poseemos un portal en el que nuestros pacientes posdrán pedir citas médicas y ser atendidos por un medico en todo momento</p>
                            </div>
                        </div>
                        <div class="feature feature-blurb-text">
                            <h4 class="feature-title">Equipo profesional y especializado</h4>
                            <div class="feature-content">
                                <p>Centro médico galenos tiene en su posesion un equipo de médicos especialisados en diferentes areas de conocimiento, ademas de un equipo preparado para toda dolencia que nuestros pacientes puedan requerir</p>
                            </div>
                        </div>
                        <div class="feature feature-blurb-text">
                            <h4 class="feature-title">Tarifa y precios accesibles</h4>
                            <div class="feature-content">
                                <p>Nosotros nos preocupamos de tener un servicio al que nuestros pacientes puedan aceder y que nuestros pacientes puedan pagar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}