{% extends "index.html" %}
{% load static %}
{% block content %}
<div id="blog" class="blog-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <h2>Blog</h2>
                    <p>Noticias del centro médico Galenos</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-inner">
                    <div class="blog-img">
                        <img class="img-fluid" src="{% static 'images/blog-img-01.jpg' %}" alt="" />
                    </div>
                    <div class="item-meta">
                        <a href="#"><i class="fa fa-comments-o"></i> 5 comentarios </a>
                        <a href="#"><i class="fa fa-user-o"></i> Administrador</a>
                        <span class="dti">25 de Julio del 2022</span>
                    </div>
                    <h2>Supervisores recomiendan revisar la fecha de caducidad antes de consumir</h2>
                    <p>Médicos revelan que algunas medicinas al estar vencidas pueden causar efectos secundarios no esperados, uno de los mas comunes es somnoliencia</p>
                    <a class="new-btn-d br-2" href="#">Más información<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-inner">
                    <div class="blog-img">
                        <img class="img-fluid" src="{% static 'images/blog-img-02.jpg' %}" alt="" />
                    </div>
                    <div class="item-meta">
                        <a href="#"><i class="fa fa-comments-o"></i> 5 Comentarios </a>
                        <a href="#"><i class="fa fa-user-o"></i> Administrador</a>
                        <span class="dti">25 de julio del 2022</span>
                    </div>
                    <h2>Se han tomado deciciones sobre nueva tecnología</h2>
                    <p>El centro médico Galenos se niega a usar nuevo tratamiento basado en electromagnetismo hasta nuevo aviso</p>
                    <a class="new-btn-d br-2" href="#">Más información<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-inner">
                    <div class="blog-img">
                        <img class="img-fluid" src="{% static 'images/blog-img-03.jpg' %}" alt="" />
                    </div>
                    <div class="item-meta">
                        <a href="#"><i class="fa fa-comments-o"></i> 5 Comentarios </a>
                        <a href="#"><i class="fa fa-user-o"></i> Administrador</a>
                        <span class="dti">25 de diciembre del 2022</span>
                    </div>
                    <h2>Médicos se ofrecen a dar una charla sobre medicina</h2>
                    <p>Médicos del centro médico Galenos se ofrecen a dar una charla al público sobre medicina para el día 30 de febrero del año 2023</p>
                    <a class="new-btn-d br-2" href="#">Más información<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}