{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div id="contact" class="contact-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <h2>Contactanos</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="contact-block">
                  <form id="contactForm" method="post">
                    <div class="row">
                      {% csrf_token %}
                      {{msj|crispy}}
                      <div class="col-md-12">
                          <div class="submit-button text-center">
                              <button class="btn btn-common" id="submit" type="submit">Contactanos</button>
                              <div id="msgSubmit" class="h3 text-center hidden"></div> 
                              <div class="clearfix"></div> 
                          </div>
                      </div>
                    </div>            
                  </form>
                </div>
              </div>
              
            <div class="col-lg-12 col-xs-12">
                <div class="left-contact">
                    <h2>Address</h2>
                    <div class="media cont-line">
                        <div class="media-left icon-b">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        </div>
                        <div class="media-body dit-right">
                            <h4>Dirección</h4>
                            <p>Padre Alonso de Ovalle 1586, Santiago, Región Metropolitana</p>
                        </div>
                    </div>
                    <div class="media cont-line">
                        <div class="media-left icon-b">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="media-body dit-right">
                            <h4>Email</h4>
                            <a href="#">demoinfo@gmail.com</a><br>
                            <a href="#">demoinfo@gmail.com</a>
                        </div>
                    </div>
                    <div class="media cont-line">
                        <div class="media-left icon-b">
                            <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                        </div>
                        <div class="media-body dit-right">
                            <h4>Numero de telefono</h4>
                            <a href="#">12345 67890</a><br>
                            <a href="#">12345 67890</a>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
{% endblock %}