{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider" id="js-main-slider">
                <div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image:url(images/slider-01.jpg);">
                    <div class="lbox-caption pogoSlider-slide-element">
                        <div class="lbox-details">
                            <h1>Bienvenido al Centro Médico Galenos</h1>
                            <p>Donde todo nuestro equipo está disponible para usted</p>
                            <a href="#" class="btn">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image:url(images/slider-02.jpg);">
                    <div class="lbox-caption pogoSlider-slide-element">
                        <div class="lbox-details">
                            <h1>Expertos en el área de la salud</h1>
                            <p>con un equipo de trabajo y trabajadores profesionales</p>
                            <a href={% url "appointment" %} class="btn">Appointment</a>
                        </div>
                    </div>
                </div>
            </div><!-- .pogoSlider -->
        </div>
    </div>
</div>


<div id="contact" class="contact-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <h2>Contactanos</h2>
                    <p>Centro médico Galenos estamos atentos a cualquier mensaje que el paciente desee darnos</p>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-12 col-xs-12">
              <div class="contact-block">
                <form id="contactForm" method="post">
                  <div class="row">
                    {% csrf_token %}
                    <div class="col-lg-4 col-xs-4"></div>
                    <div class="col-lg-4 col-xs-4">{{msj|crispy}}</div>
                    <div class="col-lg-4 col-xs-4"></div>
                    
                    <div class="col-md-12">
                        <div class="submit-button text-center">
                            <button class="btn btn-common" id="submit" type="submit">Contactanos</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div> 
                            <div class="clearfix"></div> 
                        </div>
                    </div>
                  </div>            
                </form>
              </div>
            </div>
            
            
            <div class="col-lg-12 col-xs-12">
                <div class="left-contact">
                    <h2>Direccion</h2>
                    <div class="media cont-line">
                        <div class="media-left icon-b">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        </div>
                        <div class="media-body dit-right">
                            <h4>Direccion</h4>
                            <p>Padre Alonso de Ovalle 1586, Santiago, Región Metropolitana</p>
                        </div>
                    </div>
                    <div class="media cont-line">
                        <div class="media-left icon-b">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="media-body dit-right">
                            <h4>Email</h4>
                            <a href="#">demoinfo@gmail.com</a><br>
                            <a href="#">demoinfo@gmail.com</a>
                        </div>
                    </div>
                    <div class="media cont-line">
                        <div class="media-left icon-b">
                            <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                        </div>
                        <div class="media-body dit-right">
                            <h4>Numero de telefono</h4>
                            <a href="#">12345 67890</a><br>
                            <a href="#">12345 67890</a>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
{% endblock %}